<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	   https://www.springframework.org/schema/beans/spring-beans.xsd
	   http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd"
	   >
<!--开启插件-->
	<context:annotation-config/>


<!--	<context:annotation-config/>-->
<!--	<bean id="user" class="com.zhouyu.service.User" scope="prototype" abstract="true"/>


	<bean id="orderService" class="com.zhouyu.service.OrderService" />-->
<!--	<bean id="zhouyuFactoryBean" class="com.zhouyu.ZhouyuFactoryBean"/>-->

<!--	<bean id="userService" class="com.zhouyu.service.UserService"  autowire="constructor"/>
	<bean class="com.zhouyu.service.OrderService" id="orderService"/>-->
<!--	<bean class="com.zhouyu.ZhouyuBeanPostProcessor" id="zhouyuBeanPostProcessor" ></bean>-->

	<!--创建bean的方法-->
<!--	<bean id="userService" factory-bean="orderService" factory-method="createUserServiceBean"/>
	<bean class="com.zhouyu.service.OrderService" id="orderService"/>

	<bean id="userService2" class="com.zhouyu.service.OrderService"	factory-method="createUserServiceBean"/>-->

	<!--<bean class="com.zhouyu.service2.ZhouyuReplace" id="zhouyuReplace"/>

	<bean id="userService" class="com.zhouyu.service.UserService">
		<replaced-method name="a" replacer="zhouyuReplace"/>
	</bean>

	<bean class="com.zhouyu.service.OrderService" id="orderService"/>
-->

<!--	<bean class="com.zhouyu.service.UserService" id="userService" autowire="constructor" />

	<bean class="com.zhouyu.service.OrderService" id="orderService"/>-->

	<!--<bean class="com.zhouyu.AppConfig1" id="appConfig1"/>-->

	<bean class="com.zhouyu.service.UserService" id="userService" autowire="byName"/>
	<bean class="com.zhouyu.service.UserService" id="userService1" autowire="byName"/>

	<bean class="com.zhouyu.service.OrderService" id="orderService"/>
<!--	<bean class="com.zhouyu.service.OrderService" id="orderService1"/>-->

</beans>

